* {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

body {
    background: #372650;
    color: white;
    font-family: Arial, serif;
}

/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
    padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
        /*display: none; !* Hide columns by default *!*/
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background: #372650;;
    color: white;
    padding: 10px;
    height: 40%;
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

.footer {
    padding: 12px 5px 12px 15px;
    width: 100%;
    display: flex;
    background: #9041c1;
    color: black;
}

.footer > div {
    flex: 1; /*grow*/
}

.rights {
    text-align: center;
    font-weight: bold;
    background: #9041c1;
    padding: 12px 12px 12px 12px;
    color: black;}


ul {
    list-style-type: none;
}

a:link {
    /* Applies to all unvisited links */
    text-decoration: none;
    color: black;
}
a:visited {
    /* Applies to all visited links */
    text-decoration:  none;
    font-weight:      bold;
    background-color: #ddd;
    color:            black;
}
.last{
    padding-left: 102px;
}
.input{
    padding: 25px 5px 5px 25px;
}
.last a:hover,.before a:hover {
    /*color: red;*/
    background: #f141f4;
    font-weight: bold;

}
h2{
    padding: 25px 0 25px 0;
    text-align: center;
}