* {
    margin: 0;
    padding: 0;
}
.textPage{
    padding: 12px 12px 12px 12px;

}

.footer {
    padding: 12px 5px 12px 15px;
    display: flex;
    background: #34495e;
}

.footer > div {
    flex: 1; /*grow*/
}

.rights {
    text-align: center;
    font-weight: bold;
    background: #34495e;
    padding: 12px 12px 12px 12px;
}

ul {
    list-style-type: none;
}

a:link {
    /* Applies to all unvisited links */
    text-decoration: none;
    color: black;
}

.mySlides a:link{
    color: white;
}

a:visited {
    /* Applies to all visited links */
    text-decoration:  none;
    font-weight:      bold;
    background-color: #ddd;
    color:            black;
}
.mySlides a:visited{
    color: white;
}


.last a:hover,.before a:hover {
    background: #3e1b31;
    font-weight: bold;
}